replicaCount: 1
image:
  repository: luongvantrong/go-one
  pullPolicy: IfNotPresent
  tag: "e718a1"
imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
serviceAccount:
  create: false
  annotations: {}
  name: ""
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
service:
  type: ClusterIP
  port: 8000
ingress:
  enabled: true
  className: "nginx"
  annotations: {}
  hosts:
    - host: go-one.test.com
      paths:
        - path: /
          pathType: Prefix
  tls: []
resources: {}
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 100
  targetCPUUtilizationPercentage: 80
nodeSelector: {}
tolerations: []
affinity: {}
