redis-ha:
  enabled: false

controller:
  replicas: 1


repoServer:
  replicas: 2

applicationSet:
  replicas: 2


global:
  domain: argocd.test.com

certificate:
  enabled: true

server:
  replicas: 2
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    tls: true